<h1>CHAT</h1>
<div class="chat" id="chat">
</div>
<form id="formChat" class="form">
  <input class="form__input" name="user" type="text" placeholder="Usuario" />
  <input
    class="form__input"
    name="message"
    type="text"
    placeholder="Escribe un mensaje"
  />
  <button class="button">Enviar</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>